/*

Theme Name: Ajude a Maju
Theme URI: http://www.ajudeamaju.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrição do tema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ajudeamaju
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** IMPORTAÇÃO DE FONTES
**** DEFINIÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

header{
  background: #585dfa;
  padding: 30px 10px;
}


    header figure img{
      max-width: 400px
    }
  .pg-cadastro nav{
    text-align: center;
    padding: 35px 0 25px;
  }
    .pg-cadastro nav button{
      background: transparent;
      border: none;
      border-bottom: solid 3px #99a9be;
      max-width: 190px;
      text-align: center;
      display: inline-block;
      width: 100%;
      outline: none;
      padding: 10px;
      color: #99a9be;
      text-transform: uppercase;
      font-weight: 600;
      transition:All 1s ease;
      -webkit-transition:All 1s ease;
      -moz-transition:All 1s ease;
      -o-transition:All 1s ease;

    }
      .pg-cadastro nav button:hover{
         border-bottom: solid 3px #585dfa;
         color: #4d5969;
      } 
      .pg-cadastro nav button.ativo{
         border-bottom: solid 3px #585dfa;
         color: #4d5969;
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
      }
  .pg-cadastro .formCadastro{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;
  }
  .pg-cadastro .formCadastro .inputForms{
       min-height: 260px;
       padding: 0 10px;
  }
  .pg-cadastro .formCadastro{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;
    display: none;
  }
  .formCadastro.formum{
    display: block;
  }
    .pg-cadastro .formCadastro input{
      border: solid 1px #99a9be;
      border-radius: 3px;
      width: 100%;
      max-width: 100%;
      margin: 0 auto 10px;
      display: block;
      height: 40px;
      padding: 10px;
      color: #99a9be;
      outline: none;
    } 
    .pg-cadastro .formCadastro textarea{
      border: solid 1px #99a9be;
      border-radius: 3px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      margin: 0 auto 10px;
      display: block;
      height: 40px;
      padding: 10px;
      color: #99a9be;
      outline: none;
      height: 90px;
      max-height: 90px;
      min-height: 90px;
    }
    .pg-cadastro .formCadastro select{
      border: solid 1px #99a9be;
      border-radius: 3px;
      width: 100%;
      max-width: 100%;
      margin: 0 auto 10px;
      display: block;
      height: 40px;
      padding: 10px;
      color: #99a9be;
      outline: none;
    }
    .pg-cadastro .formCadastro button{
      border: solid 1px #99a9be;
      border-radius: 3px;
      width: 100%;
      max-width: 100%;
      margin: 0 auto 10px;
      display: block;
      height: 40px;
      padding: 10px;
      color: #99a9be;
      outline: none;
    }
    .pg-cadastro .formCadastro .inputForms.btnsVoltar button.correscoes{
      border-radius: 3px 0px 0px 3px;
    }
    .pg-cadastro .formCadastro .inputForms.btnsVoltar button.correscoes{
      border-radius: 0px 3px 3px 0px;
    }
      .pg-cadastro .formCadastro button:hover{
        border: solid 1px #585dfa;
        color: #fff;
        background: #585dfa;
    }
  .barraProgresso{
    width: 100%;
    height: 10px;
    background: #585dfa;
    position: relative
  }
   .barraProgresso:before{
    content: "";
    display: block;
    height: 100%;
    width: 20%;
    background: #36399e;
    bottom: 0;
   }
